.dialogContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d5dae0;
    padding: 10px 10px;
}

.formFileInput {
    width: 100%;
}

.formButton {
    margin-bottom: 0; /* Removes gap */
}